body.login { padding-top: 70px; }
cust-center {
    alignment-adjust: central;
}
.layar-utama {
    min-height: 600px
}
td {
    vertical-align: middle;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}